// Colors 
$clr-primary: #5748b5a4;
$clr-primary-light: #E15CE3;
$clr-primary-dark: #47196B;
$clr-btns: #464646;
$clr-table-1: #491552;
$clr-table-2: #CC6125;

// Box shadow 
$bs-decks-v: 2px 3px 10px 4px rgba(0, 0, 0, 0.541);
$bs-decks: 6px 6px 2px 0px #1008469f;
$bs-btns: 1px 1px 4px 2px rgba(0,0,0,0.69);
$bs-btns-light: 1px 1px 4px 2px rgba(255, 255, 255, 0.486);

// Border radius
$br-round: 50%;
$br-md: 1rem;


// padding 
$p1: 1rem;
$p2: 2rem;
$p3: 3rem;